<!DOCTYPE html>
<html>
<head>
	<title>IvyWire Contact</title>
	<link rel="stylesheet" type="text/css" href="IvyWire.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body onload="myFunction()">
	<div id = "logo">
		<img src="Logomakr_0phR5q.png">
	</div>
	<div id="wrapper">
	<div class ="menu">
		
		<div class = "home">
			<a href="/" id= "house"><div class="icons" style="background-image: url('Logomakr_3VIuCh.png'); background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px;"></div></a>
			<div  id="hom">Home</div>
		</div>
		<div class = "projects">
			<a href="/projects" id= "paper"><div class="icons" style="background-image: url('Logomakr_8WpiNB.png'); background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px;"></div></a>
			<div id ="pj">Projects</div>
		</div>
		<div class = "me">
			<a href="/ivory" id= "girl"><div class="icons" style="background-image: url('Logomakr_8z0qhC.png'); background-size: contain; background-repeat: no-repeat;width: 35px; height: 30px;"></div></a>
			<div id="IB">Ivory Brown</div>
		</div>
		<div class = "contact">
			<a href="/contact" id= "mail"><div class="icons" style="background-image: url('Logomakr_219pbf.png'); padding: 7px;background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px;"></div></a>
			<div id ="con">Contact Me</div>
		</div>

	</div>
	</div>

	<h2>Contact</h2>
	<div class = "box">
		<h2 id="contactMe" style="color:teal; text-align: center;">Want to do business?</h2>

		<form action="/email" method="post">
			<h3 style="color:#97bb7b">Email Me at<span style="color: white;"> itb2@duke.edu</span> ! Please include your phone number, reason for contacting and any relevant details about your web development needs and desires. </h3>
			<input id="email" type="Email" name="address" placeholder="Your Email (ex. John@yahoo.com)">
			<input type="subject" name="subject" id="subject" placeholder="Subject (ex. 'Seeking Web Design Services')">
			<textarea name="message" id="message" placeholder="Your message..."></textarea>
			<div style="width: 110px; margin: 0 auto;">
				<input type="submit" value="Send" style="margin-top: 20px; color: grey; background-color: black; border: 2px outset #97bb7b; width: 100px; height: 30px; font-size: 1em;">
			</div>
		</form>

	</div>

	<script type="text/javascript" src="IvyWire.js"></script>
</body>
</html>
