<!DOCTYPE html>
<html>
<head>
	<title>IvyWire Contact</title>
	<link rel="stylesheet" type="text/css" href="IvyWire.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body onload="myFunction()">
	<div id = "logo">
		<img src="Logomakr_0phR5q.png">
	</div>
	<div id="wrapper">
	<div class ="menu">
		
		<div class = "home">
			<a href="/" id= "house"><div class="icons" style="background-image: url('Logomakr_3VIuCh.png'); background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px;"></div></a>
			<div id="hom">Home</div>
		</div>
		<div class = "projects">
			<a href="/projects" id= "paper"><div class="icons" style="background-image: url('Logomakr_8WpiNB.png'); background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px;"></div></a>
			<div id ="pj">Projects</div>
		</div>
		<div class = "me">
			<a href="/ivory" id= "girl"><div class="icons" style="background-image: url('Logomakr_8z0qhC.png'); background-size: contain; background-repeat: no-repeat;width: 35px; height: 30px;"></div></a>
			<div id="IB">Ivory Brown</div>
		</div>
		<div class = "contact">
			<a href="/contact" id= "mail"><div class="icons" style="background-image: url('Logomakr_219pbf.png'); padding: 7px;background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px;"></div></a>
			<div id ="con">Contact Me</div>
		</div>

	</div>
	</div>
	<h2 style="color:#97bb7b; text-align: center; font-size: 2em; margin: 0px; position: relative; bottom: 180px">Who Am I?</h2>
	<div class = "box" style=" text-align: left; position:relative; bottom: 180px">
		<div style="border: 4px inset grey; display: inline-block; margin: 10px;width: 200px; height: 180px; background-image: url('IMG_1496.JPG'); background-size: contain;"></div>
		<div style="display: inline-block; position: relative; bottom: 40px; left: 0px;">
		<p><span style="color: teal;">Name:</span> Ivory Brown</p>
		<p><span style="color: teal;">	Home:</span> Bay Area, CA.</p> 
		<p>	<span style="color: teal;">Location:</span> Durham, NC.</p> 
		</div>
		<div style="display: inline-block;position: relative; left: 15px; bottom: 5px;">
		<p style="text-align: left;"><span style="color: teal;">Education:</span> 
		 	<ul style="width: 150px; position: relative; bottom: 15px; right: 17px;">
		 		<li>Duke University - B.S. Computer Science - In progress</li>
		 		<li>New York Code And Design Academy - Web Development - In Progress</li>
		 	</ul>
		</p>
		</div>
		<p style=" position: relative; bottom:50px"><span style="color: teal;">Sites And Social Media:</span>
			<ul style="position: relative; bottom: 75px;">
				<a href="Resume.pdf"><li>Resume</li></a>
				<a href="https://github.com/itb2"><li>My GitHub - Check out some of my other projects!</li></a>
				<a href="https://www.linkedin.com/in/ivoryanna-brown-19b29011b"><li>Linked In Profile</li></a>
				
			</ul>
		</p>
		
		
	</div>

	<script type="text/javascript" src="IvyWire.js"></script>
</body>
</html>
