<!DOCTYPE html>
<html>
<head>
	<title>IvyWire</title>
	<link rel="stylesheet" type="text/css" href="IvyWire.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body onload="myFunction2()">
	<div class = "logo">
		<img src="Logomakr_0phR5q.png">
	</div>
	<div id="wrapper">
	<div class ="menu">
		
		<div class = "home">
			<a href="/" id= "house"><div class="icons" style="background-image: url('Logomakr_3VIuCh.png'); background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px;"></div></a>
			<div id="hom">Home</div>
		</div>
		<div class = "projects">
			<a href="/projects" id= "paper"><div class="icons" style="background-image: url('Logomakr_8WpiNB.png'); background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px;"></div></a>
			<div id ="pj">Projects</div>
		</div>
		<div class = "me">
			<a href="/ivory" id= "girl"><div class="icons" style="background-image: url('Logomakr_8z0qhC.png'); background-size: contain; background-repeat: no-repeat;width: 35px; height: 30px;"></div></a>
			<div id="IB">Ivory Brown</div>
		</div>
		<div class = "contact">
			<a href="/contact" id= "mail"><div class="icons" style="background-image: url('Logomakr_219pbf.png'); padding: 7px;background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px;"></div></a>
			<div id ="con">Contact Me</div>
		</div>

	</div>
	</div>
	<div class = "box" style="bottom: 100px;">
		<h2 id="aboutMe"> <span style="color: teal;">Web Development</span> by Ivory Brown </h2>
		<p>I enjoy developing and designing your websites and apps  and spending hours upon hours tweeking details so that everything is perfectly presentable and meets your needs. You probably don't. So check out my work, learn a little about me and hire me to design your next personal or professional website or app!</p>

	</div>

	<script type="text/javascript" src="IvyWire.js"></script>
</body>
</html>
