<!DOCTYPE html>
<html>
<head>
	<title>IvyWire Contact</title>
	<link rel="stylesheet" type="text/css" href="IvyWire.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body onload="myFunction()">
	<div id = "logo">
		<img src="Logomakr_0phR5q.png">
	</div>
	<div id="wrapper">
	<div class ="menu">
		
		<div class = "home">
			<a href="/" id= "house"><div class="icons" style="background-image: url('Logomakr_3VIuCh.png'); background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px;"></div></a>
			<div id="hom">Home</div>
		</div>
		<div class = "projects">
			<a href="/projects" id= "paper"><div class="icons" style="background-image: url('Logomakr_8WpiNB.png'); background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px;"></div></a>
			<div id ="pj">Projects</div>
		</div>
		<div class = "me">
			<a href="/ivory" id= "girl"><div class="icons" style="background-image: url('Logomakr_8z0qhC.png'); background-size: contain; background-repeat: no-repeat;width: 35px; height: 30px;"></div></a>
			<div id="IB">Ivory Brown</div>
		</div>
		<div class = "contact">
			<a href="/contact" id= "mail"><div class="icons" style="background-image: url('Logomakr_219pbf.png'); padding: 7px;background-size: contain; background-repeat: no-repeat; width: 30px; height: 30px;"></div></a>
			<div id ="con">Contact Me</div>
		</div>

	</div>
	</div>
	<h2>Past Projects</h2>
	<div class = "box" style="text-align: center;" >
		
		<a href="http://www.dukezetas.com/">
		<div  id= "NO_site"></div>
		<p style="margin-bottom: 30px;">Sorority Chapter Website</p>
		</a>
		<a href="JukeBox/SoundcloudJuke.html">
		<div id= "juke_site"></div>
		<p style="margin-bottom: 30px;">SoundCloud JukeBox Website</p>
		</a>
		
	</div>


	<script type="text/javascript" src="IvyWire.js"></script>
</body>
</html>