body:before{
	opacity: 0.2; 
	filter: alpha(opacity=20);
}
body{
	
	background-color: black;
	background-image: url("bayarea1-1.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-blend-mode: luminosity;
}
@media screen and (max-width: 1175px){
	.icons{
		display: block;
	}
	#wrapper{
		height: 300px;
	}
}
@media screen and (max-width: 830px){
	#hom,
	#pj,
	#IB,
	#con{
		display: none;
	}
}
@media screen and (max-width: 500px) {
    .logo{
    	text-align: center;
    	width:100px;
    	height:auto;
    }
    .logo > img{
    	width:340px;
    	position: relative;
    	left:40%;
    }
    .box{
		left:30px;
	}
	#girl2{
	position: relative;
	right: 20px;
	}
}
.logo{
	text-align: center;
	position: relative;
	top: 50px;
	right: 900px;
}
#logo > img{
    width:400px;   
}
.box{

	padding: 20px;
	text-align: center;
	position: relative;
	bottom: 125px;
	width:60%;
	margin: 0 auto;
	overflow: auto; 
	background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,.5);
   
}
#hi{
	text-align: center;
	width: 600px;
	height: 300px;
	margin: 0 auto;
}
div.box p{
	font-size: 1.7em;
}
#aboutMe{
	color: #97bb7b;
}
.icons{
	display: inline-block;
	padding: 10px;
	margin: 5px;
}
.icons:hover{
	background-color: grey;
}
#wrapper{
	position: relative;
	top: 140px;
	width: 70px;
	height: 250px;
}
.menu{
	position: relative;
	width: 230%;
	top: 0px;
}

#hom{
	position: relative;
	color: transparent;
	left: 20px;
	bottom: 25px;
	display: inline-block;
	width: 90px;
}
#paper{
	position: relative;
	left: 4px;
}
#mail{
	position: relative;
	left: 5px;
	top: 25px;
}
#mail2{
	position: relative;
	right:3px;
}

.home:hover #hom{
	color: grey;
}


#pj{
	position: relative;
	bottom: 25px;
	left: 20px;
	color: transparent;
	display: inline-block;
	width: 90px;
}
.projects:hover #pj{
	color: grey;
}
.me{
	height: 50px;
	margin-bottom: 0px;
}
#girl2{
	position: relative;
	left: 10px;
}

#IB{
	z-index: 1;
	position: relative;
	bottom: 35px;
	color: transparent;
	display: inline-block;
	width: 90px;
}
.me:hover #IB{
	color: grey;
}
#con{
	z-index: 1;
	position: relative;
	bottom: 25px;
	left: 17px;
	color: transparent;
	display: inline-block;
	width: 90px;
}
.contact{
	position: relative;
	bottom:10px;
}
.contact:hover #con{
	color: grey;
}
div.box p,
li{
	color: #97bb7b;
}
body>h2{
	position: relative;
	right:800px;
}
